header {
  display: grid;
  grid-template-columns: minmax(150px,250px) auto 50px;
  justify-content: space-between;
}
.logo  {
    width:clamp( 150px, 200px, 250px); 
}
.logo img {
  max-width: 100%; 
}
nav ul {
  display: flex;
  list-style-type: none;
  gap: 10px;
  height: 100%;
  align-items: center;
}
nav ul a {
  text-decoration: none;
}
.hamburger {
    
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  justify-content: center;
}

.hamburger span {
  width: 24px;
  height: 3px;
  background: #242222;
  border-radius: 2px;
}

#menu-toggle {
  display: none;
}

@media (max-width: 768px) {
    header {
         grid-template-columns: 200px 50px;
    }
  .hamburger {
    display: flex;
  }

  nav {
    position: absolute;
    top: 72px;
    left: 0;
    width: 100%;
    background: #fff;
    border-top: 1px solid #eee;
    display: none;
     border: 1px dashed var(--PrimaryPurple);
     box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
    nav ul {
    flex-direction: column;
    padding: 16px;
  }

   #menu-toggle:checked ~ nav {
    display: block;
  }


}
